/*CSS Reset*/

*{
	box-sizing: border-box;
	margin: 0;
	padding:0;
}

body{
	font-family: 'Ope Sans',sans-serif;
}
header{
	padding: 0.8rem;
	margin-bottom: 2rem;
	align-items: center;
	border-bottom: 1px solid gray;
}
/*default value ng isang rem 16px*/
/*doon lagi icocompute*/

header .nav, header .nav-logo{
	margin: 0.5 rem;
	display: inline;
}
/*Styles for Introductory Section*/

#intro
{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
}

#intro h1, #intro p{

	margin-bottom: 1rem;
	text-align: center;
}
#intro div{
	text-align: center;
}

#intro button{
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius:  1rem;
	font-size: 1rem;
	padding: 1rem;
}

/*Styles for Section Headers*/

.header{
	text-align: center;
}

#suceed-info{
	padding-left: 10%;
	padding-right:  10%;
	padding-top: 2rem;
	padding-bottom: 3rem;

}

#suceed-info > div >h3
{
	margin-bottom: 1rem;
}

#suceed-info div{
	display: inline;
	width: 33.33%;
	margin-left:  0.5rem;
}

/*Styles for footer*/

footer{
	display:inline-block;
	padding: 0.7rem;
}
footer span{
	margin-left:  0.5rem;
	margin-right: 0.5rem;
}

h3{
	margin-top: 30px;
	margin-bottom: 10px;

}
#succeed-info
{
	margin-bottom:40px;
	margin-left: 100px;

	}

#pre-footer div {
    display: inline-block;
    width: 20%;
}

#pre-footer {
    color: white;
    background-color: #002540;

}

#pre-footer > div {
    display: inline-table;
    padding: 0.9rem;
    width: 20%;
}

#pre-footer > div > {
    margin-top: .3rem;
    margin-bottom: .3rem;
}