/*iniversal rule si rem walang definite font size pag ka d nagdeclare default 16px*/
*{
	font-size: 50px;
}

/*p{
	font-size: 1 rem; 
}
*/
/**/

#greetings{
	font-size: 1rem;
}

/*em nakabse sa kanyang parent element*/
/*example here 1 em = to 25 px*/
#batch{
	font-size: 25px;
}
#batch > p{
	font-size: 1em;
}

/*percentage prang si em nakabase sa parent element*/


#student{
	font-size: 100px;
}
#student > p{
	font-size: 100%;
}
/*like em relative with its praents*/
/*parang em na dependet kay universal*/