/*
	Syntax of using CSS rules

	selector{
		property: value;
	}
*/

/*Universal selector*/
/*It targets all the element in our webpage*/
*{
/*font-family property changes the style of the font*/
	font-family: "Courier New", monospace;
/*	font-size it will change the size of the text*/
	font-size: 20px;
}

/*Type selector*/
/*tag-name*/
h1{
	color: yellow;
}

/*Id selector*/
/*It targets only one element*/

#zuitt-motto{
/*	the letter spacing property changes the spaces between the characters in a text*/
	letter-spacing: 5px;
}

/*Class selector*/
/*.class-name*/
.offering-item
{
/*text-transform property changes the font to a certain case	*/
/*upper case value changes the text to all capitalized letter*/
	text-transform: uppercase;
}

/*Atribute selector*/
/*[attribute]*/
[required]
{
	border-width: 2px;
	border-style: solid;
	border-color: navy;
	width: 90%;
}
/*Adjacent sibling selector*/
/*element for reference + target+element*/
h3 + img
{
/*the height property changes the vertical dimensions of an element	*/

	height: 300px;
	/*the width property changes the horizontal dimensions of an element*/
	width: 300px;

	border-radius: 150px;
}

/*Descendant selector*/
/*element for refrence whitespace spce for target element*/

#bootcamp-learning-list li
{
/*can search to color google picke to get the hex color	*/
	color: #15171f; 
}
/*General sibling selector*/
h2 ~ a {
/*tex-decoration property changes lines included in text
overline,underline and strike through	*/
/*vnone value will remove the underline*/
	text-decoration: none;
}

/*child selector*/

/*form > label{
	color:rgb(86,199,219);*/

body > section > form > label{
	color:rgb(86,199,219);
}
/*ung color lang ng label sa loob ng form ang mapapalitan*/


body{
	background-color: skyblue;
}

section{
	height: 100vh;
	text-align:center ;
}

html{
/*scroll-behavior paroperty that changes the scrill behavior when clicking anchor tags	*/
	scroll-behavior: smooth;
}

nav{
	background-color: white;
}
/*pseudo class*/
a:hover{
	background-color: #42edaf;
}
div{
/*altering from bloobk magiging inline consume lang ng kung anong kaylngan for spoace*/
	display: inline;

/*float property changes the horizontal alignment of an element float either to the left or right of its container or div	*/
	float: right;
}

ol{
	list-style-type:none ;
}

form{
	text-align: center;
	background-color: white;
	border-width: 2px;
	border-style: solid;
	border-color: black;
	height: 185px;
	width: 25vw;
/*	position property changes the position of an elemnt based on a certain criteria relative means hindi magpatong patong ung input*/
	position: relative;
	left: 37.5%;
}

button{
	background-color: #cf0053;
	color: white;
	border: 0;
	border-radius: 15px;
}