/*CSS Reset*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*Add google font family 'Open Sans' for the whole body*/

body{
	font-family: Open Sans,sans-serif;
}
/*Duplicate the nav section from the sample output.Make sure the nav position is sticky*/


nav {
    padding: 10px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 999;
    display: flex;
}

.right-nav {
  position: absolute;
  top: 25%;
  right: 0;
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  font-weight: bold;

}

.nav {
    list-style-type: none;
    display: inline-block;
    margin: 10px;
    position: relative;
    right: 8vw;


    }

.right-nav li {
  margin-left: 20px;

}

.nav-logo {
    list-style-type: none;
    float: left;
    padding: 10px;
    margin-left: 120px;


}

#logo{
 margin-right: 20px;
 display: flex;



}

/*Apply styling with background color*/

.tuitt-button
{
	font-weight: bold;
	background-color: #c2195b;
	border: 0;
	color: white;
	border-radius: 25px;
	font-size: 15px;
	padding: 9px;
}


/*BG landing Page added*/
#bg-image
{
    background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    display: inline-block;
    min-height: 45vh;
    margin-top: 10px;
    min-width: 100vw;

}

/*Added Color and Opacity*/
.front-bg{
	background-color: rgba(0,0,0,0.5);
	min-height: 60vh;
	}

.title
{
	font-family:Zilla Slab, serif;
	color: white;
	font-size: 40px;
	margin-left: 800px;	;
	right: 30%;
	width: 38%;
	text-align: right;
	height: 3em;
}

.subtitle
{
	color: white;
	text-align: right;
	font-size: 20px;
	position: relative;
	top: 26%;
	left: 62%;
	line-height: 1.8em;
	height: 10em;
	width: 28%;
	margin-right: 150px;
}

.apply-button
{
	position: relative;
	font-weight: bold;
	background-color: #c2195b;
	border: 0;
	color: white;
	border-radius: 25px;
	font-size: 1rem;
	padding: 0.8rem;
	bottom: 15%;
	left: 83%;
}

.title-2
{
	font-family:'Zilla Slab',sans-serif;
	color: black;
	font-weight: bold;
	text-align: center;
	padding: 55px;
}
.intro-description
{
	text-align: left;
	position: relative;
	margin-inline:300px;
	width: 65%;
}

.prefooter-description
{
	text-align: center;
	position: relative;
	margin-inline:300px;
	width: 65%;
	background-color: #f7fbfb;
	padding: 5px;
}

.book-button{
	font-weight: bold;
	background-color: #336589;
	border: 0;
	color: white;
	border-radius: 50px;
	font-size: 1rem;
	padding: 0.5rem;
	display: block;
	margin: 0 auto;
	text-align: center;
}

footer{
	text-align: center;
	position: relative;
	margin-inline:300px;
	padding-top: 150px;
}
