#external {
  color: blue;
}

*{
	font-family: "Courier New";
	font-size: 15;
}

nav{
	background-color: lightgreen;
}

h1{
	font-size: 20;
}

#qoute{
	text-transform: uppercase;
}

li[value="sub"] {
  border: 1px solid navy;
}
li[value="post"] {
  border: 1px solid navy;
}

li[value="hero"] {
  border: 1px solid navy;
}
li[value="git"] {
  border: 1px solid navy;
}

img + #Listto-Learn
{
	list-style-type:none ;
}

img
{
	height: 100px;
	width: 100px;
	border-radius: 50px;
}

ol~h5
{
	text-align: center;
	text-decoration: none;
}

#Listto-Learn
{
	letter-spacing: 5px;
}